body{
    margin-left: 220px;
    background-image: url(/img/background.jpeg);
}
h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}
p{
  font-family: Roboto;  
}
#navbar{

    margin-left: 50px;
    

}

.navbar-brand{
    margin-left: 20px !important;
    font-size: 40px !important;
} 
.navbar-default{
    background:rgb(253, 251, 251);
    font-size: 20px;
    border:0;
    font-family:Poppins;
    padding: 10px 10px 0px 100x;
}
  
.navbar-brand{
      font-size:20px;
      color:#000 !important;
      font-weight: bold;
}


#showcase h1{
      font-size:50x;
      margin-bottom:20px;
}
#showcase img{
      width: 90%;
      float:left;
}

#showcase .showcase-right{
      margin-top: 90px;
      margin-right: 10px;
}
#showcase{
    margin-left: 50px;
    float:left;

}
#testmonial{
    background: #f1f1f1;
    padding:50px 0 30px 0;

    margin-top:40px;
}
#testmonial p{
    font-size:32px;
    font-family: 'Josefin Sans';
    color: #000;
}

#testmonial #customer{
    font-size: 25px;
    color:#666;
    text-align: center;
}
#info1{
    margin-block-start: 20px;
    background: #f1f1f1;
    margin-block-end: 40px;
}

#info1 img{
    width: 60%;
    margin-inline-start: 100px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}